

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Informe o CPF do cliente ou código do pedido</label>
    </div>
    <div class="col-md-3">
        <label class="control-label">Data início</label>
    </div>
    <div class="col-md-3">
        <label class="control-label">Data fim</label>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control cpfOuCodigo" name="valor" />
    </div>
    <div class="col-md-3">
        <input type="date" class="form-control dataInicio" name="dataInicio" />
    </div>
    <div class="col-md-3">
        <input type="date" class="form-control dataFim" name="dataFim" />
    </div>
    <div class="col-md-2">
        <input  type="button" class="btn btn-secondary pesquisar" value="Pesquisar" />
    </div>
</div>



<br />
<br />

<div class="ListarPedidos">

</div>


@section Scripts {
    <script src="~/js/ExibirPedidos.js"></script>
    <script src="~/js/ExibirPedidosPorFiltro.js"></script>
}